volumes:
  acars_data:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/acarshub
      o: bind
  dump978_autogain:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/dump978_autogain
      o: bind
  influxdb_data:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/influxdb_data
      o: bind
  influxdb_config:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/influxdb_config
      o: bind
  prometheus_data:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/prometheus_data
      o: bind
  grafana_data:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/grafana_data
      o: bind
  fam_db:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/fam_db
      o: bind
  fam_webapp:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/fam_webapp
      o: bind
  pihole:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/pihole
      o: bind
  dnsmasq:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/dnsmasq
      o: bind
  ultra_globe_history:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/ultra_globe_history
      o: bind
  ultra_graphs1090:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/ultra_graphs1090
      o: bind
  airspy_adsb:
    driver: local
    driver_opts:
      type: none
      device: /opt/adsb/data/airspy_adsb
      o: bind

services:
  # Various services

  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.14.4
    restart: always
    environment:
      - DOZZLE_BASE=/dozzle
      - DOZZLE_REMOTE_AGENT=dozzle-agent:7007,192.168.31.19:7007,192.168.31.17:7007,fredclausen.com:7007,73.242.200.187:3000,192.168.31.24:7007,192.168.31.23:7007
    ports:
      - 9999:8080

  dozzle-agent:
    image: amir20/dozzle:v8.14.4
    container_name: dozzle-agent
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007

  # direct connect SDR
  airspy_adsb:
    image: ghcr.io/sdr-enthusiasts/airspy_adsb:trixie-latest-build-2
    container_name: airspy_adsb
    hostname: airspy_adsb
    restart: always
    device_cgroup_rules:
      - "c 189:* rwm"
    environment:
      - AIRSPY_ADSB_VERBOSE=true
      - AIRSPY_ADSB_TIMEOUT=90
      - AIRSPY_ADSB_FEC_BITS=1
      - AIRSPY_ADSB_WHITELIST_THRESHOLD=5
      - AIRSPY_ADSB_PREAMBLE_FILTER_NONCRC=8
      - AIRSPY_ADSB_CPUTIME_TARGET=60
      - AIRSPY_ADSB_MLAT_FREQ=20
      - AIRSPY_ADSB_RF_GAIN=16
      - AIRSPY_ADSB_SERIAL=0x258C62DC2D2A438F
      - AIRSPY_ADSB_BIAS_TEE=true
      - AIRSPY_ADSB_STATS=true
      - AIRSPY_ADSB_IGNORE_DF_TYPES=none
    volumes:
      - /dev:/dev:ro
      - airspy_adsb:/run/airspy_adsb

  # ADSB Related SDR services
  ultrafeeder:
    image: ghcr.io/sdr-enthusiasts/docker-adsb-ultrafeeder:latest-build-816
    tty: false
    container_name: ultrafeeder
    hostname: ultrafeeder
    restart: unless-stopped
    device_cgroup_rules:
      - "c 189:* rwm"
    ports:
      - 8080:80 # to expose the web interface
      - 30002:30002 # to expose the raw data feed
      - 30003:30003 # expose sbs
      - 30005:30005 # expose beast
      - 30047:30047 # expose json
      - 12000:12000 # expose sbs
    environment:
      - TZ=${FEEDER_TZ}
      - READSB_LAT=${FEEDER_LAT}
      - READSB_LON=${FEEDER_LON}
      - READSB_ALT=${FEEDER_ALT_M}m
      - READSB_GAIN=autogain
      - READSB_AUTOGAIN_INITIAL_GAIN=22
      - READSB_RX_LOCATION_ACCURACY=2
      - READSB_STATS_RANGE=true
      - READSB_NET_ONLY=true
      - READSB_EXTRA_ARGS=--net-sbs-jaero-in-port=12000 --jaero-timeout=720
      - ULTRAFEEDER_CONFIG=
        adsb,airspy_adsb,30005,beast_in;
        adsb,dump978,30978,uat_in;
        adsb,in.adsb.lol,30004,beast_reduce_plus_out;
        adsb,82.180.133.237,30004,beast_out;
        mlat,in.adsb.lol,31090,39001;
        mlathub,piaware,30105,beast_in;
        mlathub,rb_feeder,30105,beast_in;
        mlathub,radarvirtuel,30105,beast_in;
        mlathub,planewatch,30105,beast_in;
        mlathub,82.180.133.237,30004,beast_out;
        adsb,82.180.133.237,12000,sbs_out_jaero
      - UUID=${ADSBX_UUID}
      - MLAT_USER=${ADSBX_SITE_NAME}
      - READSB_FORWARD_MLAT_SBS=true
      - UPDATE_TAR1090=true
      - TAR1090_DEFAULTCENTERLAT=${FEEDER_LAT}
      - TAR1090_DEFAULTCENTERLON=${FEEDER_LON}
      - TAR1090_MESSAGERATEINTITLE=true
      - TAR1090_PAGETITLE=${ADSBX_SITE_NAME}
      - TAR1090_PLANECOUNTINTITLE=true
      - TAR1090_ENABLE_AC_DB=true
      - TAR1090_FLIGHTAWARELINKS=true
      - HEYWHATSTHAT_PANORAMA_ID=${HEYWHATSTHAT}
      - TAR1090_SITESHOW=true
      - TAR1090_RANGE_OUTLINE_COLORED_BY_ALTITUDE=true
      - TAR1090_RANGE_OUTLINE_WIDTH=2.0
      - TAR1090_RANGERINGSDISTANCES=50,100,150,200
      - TAR1090_RANGERINGSCOLORS='#FFFFF','#FFFFF','#FFFFF','#FFFFF'
      - TAR1090_USEROUTEAPI=true
      - GRAPHS1090_DARKMODE=true
      - ENABLE_978=true
      - ENABLE_AIRSPY=true
      - URL_978=http://dump978/skyaware978
      - MLAT_STATS_INTERVAL=0
    volumes:
      - ultra_globe_history:/var/globe_history
      - ultra_graphs1090:/var/lib/collectd
      - /proc/diskstats:/proc/diskstats:ro
      - /dev:/dev
      - /sys/class/thermal/thermal_zone2:/sys/class/thermal/thermal_zone0:ro
      - /opt/adsb/data/airspy_adsb:/run/airspy_adsb
    tmpfs:
      - /run:exec,size=256M
      - /tmp:size=128M
      - /var/log:size=32M

  dump978:
    image: ghcr.io/sdr-enthusiasts/docker-dump978:trixie-latest-build-1
    #image: ghcr.io/sdr-enthusiasts/docker-dump978:latest-build-769
    tty: true
    container_name: dump978
    hostname: dump978
    restart: always
    device_cgroup_rules:
      - "c 189:* rwm"
    ports:
      - 8083:80
    environment:
      - TZ=${FEEDER_TZ}
      - DUMP978_DEVICE_TYPE=rtlsdr
      - DUMP978_RTLSDR_DEVICE=00000978
      - DUMP978_SDR_PPM=2
      - DUMP978_SDR_GAIN=autogain
      - DUMP978_AUTOGAIN_INITIAL_GAIN=49.6
      - LAT=${FEEDER_LAT}
      - LON=${FEEDER_LON}
      - DUMP978_ENABLE_BIASTEE=true
    tmpfs:
      - /run/readsb
      - /var/log
    volumes:
      - dump978_autogain:/var/globe_history
      - /dev:/dev

  # ADSB Feeders
  adsbhub:
    image: ghcr.io/sdr-enthusiasts/docker-adsbhub:trixie-latest-build-2
    tty: true
    container_name: adsbhub
    restart: always
    environment:
      - TZ=${FEEDER_TZ}
      - SBSHOST=${ADSBHOST}
      - CLIENTKEY=${ADSBHUB_STATION_KEY}
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  fr24:
    image: ghcr.io/sdr-enthusiasts/docker-flightradar24:trixie-latest-build-2
    tty: true
    container_name: fr24
    restart: always
    ports:
      - 8082:8754
    environment:
      - TZ=${FEEDER_TZ}
      - BEASTHOST=${ADSBHOST}
      - FR24KEY=${FR24_KEY}
      - BIND_INTERFACE=0.0.0.0
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  piaware:
    image: ghcr.io/sdr-enthusiasts/docker-piaware:latest-build-634
    tty: true
    container_name: piaware
    hostname: piaware
    restart: always
    ports:
      - 8084:80
    environment:
      - TZ=${FEEDER_TZ}
      - LAT=${FEEDER_LAT}
      - LONG=${FEEDER_LON}
      - FEEDER_ID=${PIAWARE_ID}
      - BEASTHOST=${ADSBHOST}
      - UAT_RECEIVER_HOST=dump978
      - UAT_RECEIVER_TYPE=relay
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  planefinder:
    image: ghcr.io/sdr-enthusiasts/docker-planefinder:trixie-latest-build-2
    tty: true
    container_name: planefinder
    restart: always
    ports:
      - 8087:30053
    environment:
      - TZ=${FEEDER_TZ}
      - LAT=${FEEDER_LAT}
      - LONG=${FEEDER_LON}
      - SHARECODE=${PLANEFINDER_SHARECODES}
      - BEASTHOST=${ADSBHOST}
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  planewatch:
    image: ghcr.io/plane-watch/docker-plane-watch:latest-build-207
    tty: true
    container_name: planewatch
    restart: always
    environment:
      - TZ=${FEEDER_TZ}
      - API_KEY=${PLANEWATCH_API_KEY}
      - BEASTHOST=${ADSBHOST}
      - ACARS_HOST=acars_router
      - VDLM2_HOST=acars_router
      - LAT=${FEEDER_LAT}
      - LONG=${FEEDER_LON}
      - ALT=${FEEDER_ALT_M}m
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  radarvirtuel:
    image: ghcr.io/sdr-enthusiasts/docker-radarvirtuel:trixie-latest-build-2
    tty: true
    container_name: radarvirtuel
    hostname: radarvirtuel
    restart: always
    environment:
      - FEEDER_KEY=kabq:D7FD7D63AF6032B6E87B5623340CF7E0
      - SOURCE_HOST=${ADSBHOST}:30002
      - RV_SERVER=mg22.adsbnetwork.com:50050
      - LAT=${FEEDER_LAT}
      - LON=${FEEDER_LON}
      - ALT=${FEEDER_ALT_M}m
      - MLAT_SERVER=mlat.adsbnetwork.com:50000
      - MLAT_HOST=${ADSBHOST}:30005
      - MLAT_INPUT_TYPE=auto
      - VERBOSE=False
    tmpfs:
      - /tmp:rw,nosuid,nodev,noexec,relatime,size=128M
      - /run:exec,size=64M
      - /var/log
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      # - "/etc/timezone:/etc/timezone:ro"

  rbfeeder:
    image: ghcr.io/sdr-enthusiasts/docker-airnavradar:latest-build-811
    tty: false
    container_name: rb_feeder
    restart: always
    environment:
      - TZ=${FEEDER_TZ}
      - LAT=${FEEDER_LAT}
      - LONG=${FEEDER_LON}
      - ALT=${FEEDER_ALT_M}
      - BEASTPORT=30005
      - BEASTHOST=${ADSBHOST}
      - SHARING_KEY=${RBFEEDER_KEY}
      - UAT_RECEIVER_HOST=dump978
      - QUIET_LOGS=false
    volumes:
      - /opt/adsb/data/fake_cpuinfo:/proc/cpuinfo
      - /sys/class/thermal/thermal_zone2:/sys/class/thermal/thermal_zone0:ro
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  opensky:
    image: ghcr.io/sdr-enthusiasts/docker-opensky-network:trixie-latest-build-2
    tty: true
    container_name: opensky
    restart: always
    environment:
      - TZ=${FEEDER_TZ}
      - BEASTHOST=${ADSBHOST}
      - LAT=${FEEDER_LAT}
      - LONG=${FEEDER_LON}
      - ALT=${FEEDER_ALT_M}
      - OPENSKY_SERIAL=${OPENSKY_SERIALS}
      - OPENSKY_USERNAME=${OPENSKY_USERNAMES}
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  sdrmap:
    image: ghcr.io/sdr-enthusiasts/docker-sdrmap:trixie-latest-build-3
    container_name: sdrmap
    restart: always
    environment:
      - TZ=${FEEDER_TZ}
      - BEASTHOST=${ADSBHOST}
      - LAT=${FEEDER_LAT}
      - LON=${FEEDER_LON}
      - SMUSERNAME=${SMUSERNAME}
      - SMPASSWORD=${SMPASSWORD}
      - ALT=${FEEDER_ALT_M}
      - MLAT=true
      - MLAT_RESULTS=beast,connect,ultrafeeder:31004
      - MLAT_PRIVACY=true

  # ACARS Related Services
  acarshub:
    #image: ghcr.io/sdr-enthusiasts/docker-acarshub:latest-build-1444
    image: ghcr.io/sdr-enthusiasts/docker-acarshub:trixie-latest-build-10
    tty: true
    container_name: acarshub
    restart: always
    ports:
      - 8085:80
    environment:
      - ENABLE_VDLM=EXTERNAL
      - ENABLE_ACARS=EXTERNAL
      - ENABLE_HFDL=EXTERNAL
      - FEED=true
      - FLIGHT_TRACKING_URL=https://www.radarbox.com/data/flights/
      - STATION_ID_ACARS=CS-KABQ-ACARS
      - STATION_ID_VDLM=CS-KABQ-VDLM
      - IATA_OVERRIDE=UP|UPS|United Parcel Service;GS|FTH|Mountain Aviation (Foothills);GS|EJA|ExecJet
      - ENABLE_ADSB=true
      - ADSB_LAT=${FEEDER_LAT}
      - ADSB_LON=${FEEDER_LON}
      - ADSB_URL=${ACARS_TAR_HOST}
      #- MIN_LOG_LEVEL=5
      - DB_SAVE_DAYS=1000
      - DB_ALERT_SAVE_DAYS=1000
    volumes:
      - "acars_data:/run/acars"
    tmpfs:
      - /database:exec,size=64M
      - /run:exec,size=64M
      - /var/log

  acars_router:
    image: ghcr.io/sdr-enthusiasts/acars_router:trixie-latest-build-2
    tty: true
    ports:
      - 15550:15550
      - 15555:15555
      - 15556:15556
      - 35550:35550
      - 35555:35555
      - 35556:35556
      - 45550:45550
      - 45555:45555
      - 45556:45556
      - 5550:5550
      - 5556:5556
    container_name: acars_router
    restart: always
    environment:
      - AR_ADD_PROXY_ID=true
      - AR_STATS_VERBOSE=true
      - AR_STATS_EVERY=60
      - AR_VERBOSITY=debug
      - TZ=${FEEDER_TZ}
      - AR_ENABLE_DEDUPE=true
      # 5.161.21.38 is feed.airframes.io Using this to stop infinity DNS lookups
      - AR_SEND_UDP_ACARS=acarshub:5550;feed.airframes.io:5550
      - AR_SEND_UDP_VDLM2=acarshub:5555
      - AR_SEND_UDP_HFDL=acarshub:5556
      - AR_SEND_TCP_ACARS=82.180.133.237:5550
      - AR_SEND_TCP_VDLM2=82.180.133.237:5555;feed.airframes.io:5553
      - AR_SEND_TCP_HFDL=82.180.133.237:5556;feed.airframes.io:5556
      - AR_SKEW_WINDOW=20
    tmpfs:
      - /run:exec,size=64M
      - /var/log
