services:
  dozzle-agent:
    image: amir20/dozzle:v8.14.9
    container_name: dozzle-agent
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007

  hfdlobserver:
    image: ghcr.io/sdr-enthusiasts/docker-hfdlobserver:latest-build-14
    #image: ghcr.io/sdr-enthusiasts/docker-hfdlobserver:trixie-latest-build-2
    container_name: hfdlobserver
    volumes:
      - /opt/adsb/hfdlobserver:/run/hfdlobserver
