repos:
  # lint yaml, line and whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: requirements-txt-fixer
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
  # prettier
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "f12edd9c7be1c20cfa42420fd0e6df71e42b51ea" # frozen: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [file, bash, sh, javascript, jsx, ts, tsx]
        additional_dependencies:
          - prettier@2.5.1
        exclude: ^(Dockerfile*|stow_home\/fred\/\.config\/nvim\/lazy-lock\.json)

  - repo: https://github.com/codespell-project/codespell.git
    rev: "63c8f8312b7559622c0d82815639671ae42132ac" # frozen: v2.4.1
    hooks:
      - id: codespell
        types: [text]
        args: [--ignore-words=.dictionary.txt]
        exclude: |
          (?x)^(
              stow_home/fred/.config/sublime-text/Local/Session.sublime_session|
              pkglist-native.txt|
                flake.lock|typos.toml|packages/typos.toml
          )$

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95 # frozen: v0.11.0.1
    hooks:
      - id: shellcheck
        # exclude: |
        #   (?x)^(
        #       dotfiles/fred/.oh-my-zsh/custom/aliases.zsh|
        #       dotfiles/fred/.zshrc
        #   )

  # - repo: https://github.com/fredclausen/nixfmt
  #   rev: 2381bca22e7c8cea02fd5dac3b581f099c058677 # frozen: v0.7.4
  #   hooks:
  #     - id: nixfmt
  # - repo: https://github.com/NixOS/nixfmt
  #   rev: 8842e9fb100190704cfbb281231a363c01d11382 # frozen: v1.1.0
  #   hooks:
  #     - id: nixfmt
