services:
  dozzle-agent:
    image: amir20/dozzle:v8.14.4
    container_name: dozzle-agent
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007

  # ACARS SDR Interfaces
  acarsdec-1:
    image: ghcr.io/sdr-enthusiasts/docker-acarsdec:trixie-latest-build-3
    #image: ghcr.io/sdr-enthusiasts/docker-acarsdec:latest-build-455
    tty: true
    container_name: acarsdec-1
    restart: always
    device_cgroup_rules:
      - "c 189:* rwm"
    environment:
      - TZ=${FEEDER_TZ}
      #- SOAPYSDR=--rtlsdr 00012785
      - SERIAL=00012785
      - FREQUENCIES=131.85;131.825;131.725;131.65;131.55;131.525;131.475;131.45;131.425;131.25;131.125;130.85;130.825;130.55;130.45;130.425
      - FEED_ID=CS-KABQ-ACARS
      - OUTPUT_SERVER=192.168.31.20
      - OUTPUT_SERVER_MODE=tcp
      - OUTPUT_SERVER_PORT=5550
    tmpfs:
      - /run:exec,size=64M
      - /var/log
    volumes:
      - /dev:/dev

  acarsdec-2:
    image: ghcr.io/sdr-enthusiasts/docker-acarsdec:trixie-latest-build-3
    #image: ghcr.io/sdr-enthusiasts/docker-acarsdec:latest-build-454
    tty: true
    container_name: acarsdec-2
    restart: always
    device_cgroup_rules:
      - "c 189:* rwm"
    environment:
      - TZ=${FEEDER_TZ}
      - SERIAL=00013305
      - FREQUENCIES=130.025;129.9;129.525;129.35;129.125;129.0
      - FEED_ID=CS-KABQ-ACARS
      - OUTPUT_SERVER=192.168.31.20
      - OUTPUT_SERVER_MODE=tcp
      - OUTPUT_SERVER_PORT=5550
    tmpfs:
      - /run:exec,size=64M
      - /var/log
    volumes:
      - /dev:/dev

  acarsdec-3:
    image: ghcr.io/sdr-enthusiasts/docker-acarsdec:trixie-latest-build-3
    #image: ghcr.io/sdr-enthusiasts/docker-acarsdec:latest-build-454
    tty: true
    container_name: acarsdec-3
    restart: always
    device_cgroup_rules:
      - "c 189:* rwm"
    environment:
      - TZ=${FEEDER_TZ}
      - SERIAL=00012095
      - FREQUENCIES=136.975;136.8;136.65
      - FEED_ID=CS-KABQ-ACARS
      - OUTPUT_SERVER=192.168.31.20
      - OUTPUT_SERVER_MODE=tcp
      - OUTPUT_SERVER_PORT=5550
    tmpfs:
      - /run:exec,size=64M
      - /var/log
    volumes:
      - /dev:/dev
