name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  find-systems:
    runs-on: ubuntu-latest
    outputs:
      systems: ${{ steps.set-systems.outputs.systems }}
    steps:
      - uses: actions/checkout@v6.0.0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Enable Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: Evaluate NixOS systems + attrs
        id: set-systems
        shell: bash
        run: |
          echo "Evaluating nixosConfigurations..."

          # JSON like: [{name = "foo"; attr = "nixosConfigurations.foo.config.system.build.toplevel";}, ...]
          systems=$(
            nix eval --json .#nixosConfigurations \
              --apply 'configs: builtins.map (name: {
                inherit name;
                attr = "nixosConfigurations.${name}.config.system.build.toplevel";
              }) (builtins.attrNames configs)'
          )

          echo "Detected systems:"
          echo "$systems"

          if [ "$systems" = "[]" ]; then
            echo "::error::No systems found!"
            exit 1
          fi

          printf "systems=%s\n" "$systems" >> "$GITHUB_OUTPUT"

  build-systems:
    runs-on: ubuntu-latest
    needs: find-systems
    strategy:
      fail-fast: false
      matrix:
        system: ${{ fromJson(needs.find-systems.outputs.systems) }}

    steps:
      - uses: actions/checkout@v6.0.0

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Enable Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v7

      - name: Build system
        shell: bash
        run: |
          echo "Building system: ${{ matrix.system.name }}"
          echo "Attribute: .#${{ matrix.system.attr }}"

          nix build ".#${{ matrix.system.attr }}"
